:root {
  --color-1: #fff;
  --color-2: #111;
  --color-3: #ababab;
  --color-4: #68ae5c;
  --color-5: #c5358c;
}

.delivery__note-regions__list li {
  list-style-type: disc;
  margin-left: 20px;
}
.delivery__note-moscow__list li {
  list-style-type: disc;
  margin-left: 20px;
}

.sliders__menu-content{
  padding-bottom: 0.1px;
}

/* ======= кнопки слайдеров ======== */

.sliders__menu-items {
  margin-bottom: 100px;
}
.sliders__menu__list {
  display: flex;
  flex-direction: row;
}
.sliders__menu__item {
  transition: all 0.3s ease;
}
.sliders__menu__item .tab-button__line {
  transition: all 0.3s ease;
}
.sliders__menu__item:hover .tab-button__line {
  background-color: var(--color-5);
}
.sliders__menu__item:hover {
  color: var(--color-5);
}
.sliders__menu__item.active {
  color: var(--color-2);
}
.sliders__menu__item.active .tab-button__line {
  margin-top: -2px;
  height: 4px;
  background-color: var(--color-2);
}
.tab-button {
  font-family: "NAMU 1990";
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  background: none;
  padding: 28px 30px;
}
.tab-button__line {
  height: 2px;
  width: 100%;
  background-color: var(--color-3);
}

/* ======= слайдер 1 ======= */

#equipment {
}
.sliders__menu-panel__equipment {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 20px;

  margin-bottom: 150px;
}
.equipment-1 {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1/ 3;

  width: 555px;
  height: 801px;
  background-color: var(--color-1);
}
.equipment-1 img {
  width: 100%;
}
.equipment__t-t-1 {
  margin: 55px 40px;
}

.equipment-2 {
  display: grid;
  grid-column: 2 / 4;
  grid-row: 1 / 2;

  width: 785px;
  height: 307px;
  background-color: var(--color-1);
}
.equipment-2__inner {
  display: flex;
  flex-direction: row;
}
.equipment-2__inner img {
  margin: 0 0 11px 35px;
}
.equipment__t-t-2 {
  margin: 40px 40px 76px 20px;
}

.equipment-3 img {
  margin: 0 50px;
}
.equipment-3 {
  width: 382px;
  height: 474px;
  background-color: var(--color-1);
}
.equipment-4 {
  width: 382px;
  height: 474px;
  background-color: var(--color-1);
}
.equipment__inner {
  padding: 0 40px 55px;
}
.equipment-4 img {
  margin: 0 50px;
}
.equipment__img {
}
.equipment__title {
  font-family: "NAMU 1990";
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;

  margin-bottom: 20px;
}
.equipment__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

/* ======= слайдер 2 ======= */

#specifications {
  width: 1130px;
  margin: 20px 115px 150px;
}
.specifications__line {
  height: 1px;
  width: 100%;
  background-color: var(--color-2);
}
.specifications__line-content {
  display: flex;
  flex-direction: row;

  margin: 33px 0 29px 0;
}
.specifications__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  width: 250px;

  display: flex;
  align-items: center;
}
.specifications__meaning {
  font-family: "NAMU 1990";
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;

  margin-left: 440px;
}

/* ======= слайдер 3 ======= */

#delivery {
  width: 1130px;
  margin: 0 115px 125px;
}
.delivery__note {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 124px;
}
.delivery__note-moscow {
}
.delivery__note-moscow__title {
  font-family: "NAMU 1990";
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;

  margin: 0 0 29px 18px;
}
.delivery__note-moscow__list {
}
.delivery__note-moscow__item {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;

  max-width: 550px;
}
.delivery__note-regions {
}
.delivery__note-regions__title {
  font-family: "NAMU 1990";
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;

  margin: 0 0 29px 18px;
}
.delivery__note-regions__list {
}
.delivery__note-regions__item {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;

  max-width: 550px;
}

.delivery__note-regions__list li {
  list-style-type: disc;
  margin-left: 32px;
}
.delivery__note-moscow__list li {
  list-style-type: disc;
  margin-left: 32px;
}
/* ----------------------------------------- */
.delivery__map {
}
.delivery__map__title {
  font-family: "NAMU 1990";
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}
.sliders__menu-panel__map {
  margin: 49px 0 100px;

  position: relative;
}
.map {
}
.map-block {
  width: 449px;
  height: 608px;
  border-radius: 3px;

  background-color: lch(100% 0.01 296.81 / 0.8);

  position: absolute;
  top: 0;
  left: 0;
}

.map__input {
  display: flex;
  justify-content: space-between;

  margin: 30px 29px 31px 20px;
}
.map__input-line {
  width: 337px;
  height: 42px;

  padding: 10px 10px 10px 40px;
  background-color: var(--color-1);
  border-radius: 3px;
  box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.05);

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.map__input-button {
  width: 42px;
  height: 42px;

  border-radius: 3px;
  background: rgb(17, 17, 17);
}
.map__input-button img {
  width: 17px;
  height: 18px;
}

.map__list {
  position: static;
  bottom: 0;
  left: 0;

  max-height: 505px;
  padding: 0 29px 20px 20px;

  overflow-y: auto;
}
.map__item {
  border-radius: 3px;
  box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.05);
  background: var(--color-1);

  max-width: 400px;
  height: 217px;

  margin-bottom: 20px;
  padding: 30px 40px 28px;
}
.map__item-title {
  font-family: "NAMU 1990";
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}
.map__item-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  height: 57px;

  margin: 24px 0 29px;
}
.map__item-open {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--color-4);
  gap: 20px;

  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.circle {
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background: var(--color-4);
}
/* ---------------------------------- */
.delivery__cost {
  width: 1130px;
  height: 573px;
  border-radius: 3px;
  background: var(--color-1);

  padding: 70px 440px 70px 78px;
}
.delivery__cost__title {
  font-family: "NAMU 1990";
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
}
.delivery__cost__inputs {
}
.delivery__cost__inputs img {
  height: 9px;
  width: 14px;
  margin: 45px 0 26px -29px;
  z-index: -1;
}
.delivery__cost__input-line {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-3);

  margin: 32px 0 23px 2px;
}
.delivery__cost__input-line::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-3);
}

#delivery_time {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-3);

  margin: 32px 0 23px 2px;
  padding-right: 90px;
  z-index: 1;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
}
.delivery__cost-line {
  width: 585px;
  height: 1px;
  background-color: var(--color-2);
}
.delivery__cost__button {
  width: 325px;
  height: 80px;
  border-radius: 3px;
  background: var(--color-2);

  font-size: 30px;
  font-weight: 400;
  line-height: 41px;
  color: var(--color-1);

  margin-top: 60px;
}

/* ======= слайдер 4 ======= */

#payment {
  width: 1130px;

  margin: 0 115px 120px;

  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
}
.payment__text {
  margin-bottom: 27px;
}
.payment__text:last-child {
  margin-bottom: 0;
}
.payment__list {
  margin-bottom: 27px;
}
.payment__item {
  margin: 0 0 0 20px;
}

/* ======= слайдер 5 ======= */

#exploitation {
  margin: 0 115px 150px;
}
.exploitation__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
}

/* ======= слайдер 6 ======= */

#warranty {
  margin: 0 115px 150px;
}
.warranty__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
}

/* ======= слайдер 7 ======= */

#Certificates {
}
.certificates__img {
  margin: 0 132px 150px;

  display: flex;
  gap: 20px;
}
.certificates__img img {
  max-width: 268px;
  max-height: 378px;
}

/* ======= все слайды ======= */

.sliders__menu-content {
  position: relative; /* Создаем контекст для абсолютного позиционирования */
  min-height: 200px; /* Задаем минимальную высоту, чтобы контент не схлопывался */
}

.sliders__menu-panel {
  position: absolute; /* Размещаем все панели друг над другом */
  top: 0;
  left: 0;
  width: 100%; /* Панель занимает всю ширину контейнера */
  opacity: 0; /* Изначально невидимы */
  visibility: hidden; /* Изначально скрыты */
  transition: opacity 0.3s ease-in-out; /* Плавное изменение прозрачности */
}

.sliders__menu-panel.active {
  opacity: 1; /* Делаем видимой */
  visibility: visible; /* Показываем элемент */
  position: relative; /* Возвращаем к нормальному положению */
  z-index: 1; /* Убедитесь, что активная панель сверху */
}
